@import url("https://use.typekit.net/akk5upa.css");

/* ===== Global Styles (for gallery pages) ===== */

html,
body {
  color: white;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ===== Gallery Page Styles ===== */

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  min-height: max-content;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-family: azo-sans-uber, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10vw;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px;
  line-height: 0.8em;
  color: #3679e3;
}

@media screen and (min-width: 1100px) {
  .title h1 {
    font-size: 82pt;
  }
  .title p {
    font-size: 20pt;
  }
}

.desc {
  display: flex;
  flex-direction: column;
  color: rgba(30, 30, 30, 0.8);
  font-family: azo-sans-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14pt;
  margin: 5px;
}

@media screen and (min-width: 1100px) {
  .desc p {
    font-size: 18pt;
  }
}

.linkcontainer {
  text-decoration: underline;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 45%;
  margin: 2.5%;
  display: flex;
  flex-direction: column;
}

.item img {
  width: 100%;
}

.item video {
  width: 100%;
}

@media screen and (max-width: 820px) {
  .gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 90%;
  }
}

.headerImage {
  height: 40%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio {
  flex-grow: 1;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bioheader {
  color: #303030;
  font-family: azo-sans-web, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  margin: 0px;
  margin-left: 10px;
}

.biodesc {
  color: rgba(39, 39, 39, 0.8);
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20pt;
  font-family: azo-sans-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: 600px;
  height: fit-content;
  margin-bottom: 0px;
}

.buttonBox {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 10px;
}

.primaryAction {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  background-color: #3679e3;
  color: white;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: azo-sans-web, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
}

.secondaryAction {
  height: 50px;
  width: 90%;
  border-radius: 8px;
  background-color: white;
  color: #3679e3;
  border: 2px solid #3679e3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: azo-sans-web, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
}

.disclaimer {
  font-size: 14px;
}

.buttonBox a {
  width: 100%;
}
